# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Logs
*.log

# Node (jika kelak ditambahkan tooling)
node_modules/

# Android / Capacitor build
www/
android/
.gradle/
*.apk
*.aab
*.keystore
